<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="uber-arrays-products" verbose="3">
    <test name="UberProductTest">
        <parameter name="testsNum" value="20" />
        <parameter name="sizeMax" value="10" />
        <parameter name="valueMax" value="10" />
        <classes>
            <class name="org.dailycoding.uber.products.UberProductTest" />
        </classes>
    </test>
</suite>